* {
  box-sizing: border-box;
}
/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
/* 1 */
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
* {
  color: #50525f;
}
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5,
h6,
p,
span {
  font-family: 'Roboto', sans-serif;
}
h5 {
  font-size: 20px;
  font-weight: 400;
}
p,
span {
  font-size: 15px;
  line-height: 25px;
}
.ag-logo,
.ag-header__logo,
.ag-header__title {
  display: inline-block;
  background: url("img/logo.svg") center no-repeat;
  background-size: contain;
  width: 100%;
}
.ag-container,
.ag-header__header,
.ag-header__content,
.ag-teams__header,
.ag-teams__content,
.ag-advantages__item,
.ag-otherGoods__content,
.ag-ourGoods__header,
.ag-ourGoods__content,
.ag-footer__content,
.ag-feedbacks__slider {
  max-width: 1200px;
  margin: 0 auto;
}
.ag-socials {
  display: inline-block;
}
.ag-socials__item {
  height: 40px;
  width: 40px;
  background: transparent url("img/socials.svg") no-repeat;
  background-size: cover;
  display: inline-block;
  margin: 10px;
  outline: none !important;
}
.ag-socials__item._facebook {
  background-position: 0 center;
}
.ag-socials__item._twitter {
  background-position: -60px center;
}
.ag-socials__item._vk {
  background-position: -120px center;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
@charset 'UTF-8';
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format('embedded-opentype'), url("./fonts/slick.woff") format('woff'), url("./fonts/slick.ttf") format('truetype'), url("./fonts/slick.svg#slick") format('svg');
}
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
}
.ag-ui-button {
  display: inline-block;
  border: 0;
  outline: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 0 20px;
  min-height: 40px;
  min-width: 90px;
  cursor: pointer;
  transition: background-color 400ms ease-out, color 400ms ease-in;
  line-height: 300%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ag-ui-button__main {
  background: #6ecf2f;
  color: #fff;
}
.ag-ui-button__main:hover,
.ag-ui-button__main:focus,
.ag-ui-button__main:focus:hover {
  background: #92db63;
}
.ag-ui-button__second {
  background: transparent;
  color: #50525f;
  border: 1px solid rgba(80,82,95,0.25);
}
.ag-ui-button__second:hover,
.ag-ui-button__second:focus,
.ag-ui-button__second:focus:hover {
  background: #6fd02f;
  color: #fff;
  border-color: transparent;
}
.ag-ui-button._width {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ag-authorization__logIn {
  letter-spacing: 0.52px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 25px;
  z-index: 21;
  position: relative;
}
.ag-authorization__popup {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.85);
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ag-nav {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
  color: #fff;
}
.ag-nav__item {
  white-space: nowrap;
  word-spacing: -4px;
}
.ag-nav__item:not(:last-child):after {
  content: '\2022';
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  font-size: 22px;
  vertical-align: middle;
  transition: padding 400ms ease-out;
}
.ag-nav__link,
.ag-nav__link:link,
.ag-nav__link:visited {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  white-space: nowrap;
  word-spacing: normal;
}
@media (max-width: 768px) {
  .ag-nav {
    display: none;
  }
}
.ag-burger {
  position: static;
  display: none;
  align-self: center;
/* Кнопка для переключения */
/* Меню */
}
.ag-burger #ag-burger__toggle {
  position: absolute;
  left: -100%;
  top: -100%;
}
.ag-burger #ag-burger__toggle:focus ~ .ag-burger__toggleContainer .ag-burger__button {
  box-shadow: 0 0 0 8px rgba(0,0,0,0.1), inset 0 0 0 20px rgba(0,0,0,0.1);
}
.ag-burger #ag-burger__toggle:checked ~ .ag-burger__toggleContainer .ag-burger__button {
  box-shadow: 0 0 0 550px rgba(0,0,0,0.1), inset 0 0 0 20px rgba(0,0,0,0.1);
}
.ag-burger #ag-burger__toggle:checked ~ .ag-burger__toggleContainer .ag-burger__button:hover {
  box-shadow: 0 0 0 550px rgba(0,0,0,0.1), inset 0 0 0 20px rgba(0,0,0,0.1), 0 0 0 8px rgba(0,0,0,0.1), inset 0 0 0 20px rgba(0,0,0,0.1);
}
.ag-burger #ag-burger__toggle:checked ~ .ag-burger__toggleContainer .ag-burger__button:before {
  transform: translateY(-50%) rotate(45deg) scale(1);
}
.ag-burger #ag-burger__toggle:checked ~ .ag-burger__toggleContainer .ag-burger__button:after {
  transform: translateY(-50%) rotate(-45deg) scale(1);
}
.ag-burger #ag-burger__toggle:checked:focus ~ .ag-burger__toggleContainer .ag-burger__button {
  box-shadow: 0 0 0 550px rgba(0,0,0,0.1), inset 0 0 0 20px rgba(0,0,0,0.1), 0 0 0 8px rgba(0,0,0,0.1), inset 0 0 0 20px rgba(0,0,0,0.1);
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav {
  margin-bottom: 100px;
  pointer-events: auto;
  transform: translate(50px, 50px);
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item,
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__link {
  color: #fff;
  letter-spacing: 0;
  height: 40px;
  line-height: 40px;
  margin-top: 0;
  opacity: 1;
  transform: scaleY(1);
  transition: 0.5s, opacity 0.1s;
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item:nth-child(1) {
  transition-delay: 0.15s;
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item:nth-child(1):before {
  transition-delay: 0.15s;
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item:nth-child(2) {
  transition-delay: 0.1s;
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item:nth-child(2):before {
  transition-delay: 0.1s;
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item:nth-child(3) {
  transition-delay: 0.05s;
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item:nth-child(3):before {
  transition-delay: 0.05s;
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item:nth-child(4) {
  transition-delay: 0s;
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item:nth-child(4):before {
  transition-delay: 0s;
}
.ag-burger #ag-burger__toggle:checked ~ .ag-nav .ag-nav__item:before {
  opacity: 0;
}
.ag-burger #ag-burger__toggle:checked ~ .dummy-content {
  padding-top: 30px;
}
.ag-burger #ag-burger__toggle:checked ~ .dummy-content:before {
  background-color: rgba(0,0,0,0.3);
}
.ag-burger .ag-burger__button {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.6s;
}
.ag-burger .ag-burger__button:hover {
  box-shadow: 0 0 0 8px rgba(0,0,0,0.1), inset 0 0 0 20px rgba(0,0,0,0.1);
}
.ag-burger .ag-burger__button:before,
.ag-burger .ag-burger__button:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}
.ag-burger .ag-burger__button:before {
  transform: translateY(-50%) rotate(45deg) scale(0);
}
.ag-burger .ag-burger__button:after {
  transform: translateY(-50%) rotate(-45deg) scale(0);
}
.ag-burger .ag-nav {
  display: inline-block;
  pointer-events: none;
  transition: 0.5s;
}
.ag-burger .ag-nav__link {
  opacity: 0;
}
.ag-burger .ag-nav__item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);
  transition: 0.5s, opacity 1s;
}
.ag-burger .ag-nav__item:after {
  content: none;
}
.ag-burger .ag-nav__item:nth-child(1) {
  transition-delay: 0s;
}
.ag-burger .ag-nav__item:nth-child(1):before {
  transition-delay: 0s;
}
.ag-burger .ag-nav__item:nth-child(2) {
  transition-delay: 0.05s;
}
.ag-burger .ag-nav__item:nth-child(2):before {
  transition-delay: 0.05s;
}
.ag-burger .ag-nav__item:nth-child(3) {
  transition-delay: 0.1s;
}
.ag-burger .ag-nav__item:nth-child(3):before {
  transition-delay: 0.1s;
}
.ag-burger .ag-nav__item:nth-child(4) {
  transition-delay: 0.15s;
}
.ag-burger .ag-nav__item:nth-child(4):before {
  transition-delay: 0.15s;
}
.ag-burger .ag-nav__item:nth-child(1) {
  letter-spacing: -8px;
}
.ag-burger .ag-nav__item:nth-child(2) {
  letter-spacing: -7px;
}
.ag-burger .ag-nav__item:nth-child(n + 4) {
  letter-spacing: -8px;
  margin-top: -7px;
  opacity: 0;
}
.ag-burger .ag-nav__item:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-50%) scaleY(5);
  transition: 0.5s;
}
@media (max-width: 768px) {
  .ag-burger {
    display: block;
  }
}
.ag-map__content {
  height: 600px;
}
.ag-contact {
  padding: 20px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ag-contact * {
  color: #fff;
}
.ag-contact__title {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  line-height: 40px;
  transform: translateY(-60%);
}
.ag-contact__info {
  flex: 1 1 80%;
}
.ag-contact__info__item {
  padding: 20px;
  font-size: 17px;
  line-height: 30px;
  white-space: nowrap;
}
.ag-contact__socials {
  flex: 1 1 20%;
  width: 100%;
  padding: 20px;
  white-space: nowrap;
  text-align: center;
}
.ag-digbenefit {
  text-align: center;
  line-height: 25px;
}
.ag-digbenefit__title {
  color: #41a5de;
}
.ag-digbenefit__content {
  color: #bfbfbf;
}
.ag-intro {
  display: flex;
  max-width: 1000px;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}
.ag-intro__header {
  width: 50%;
  padding: 44px 60px 25px 105px;
  transition: 400ms ease-out;
}
.ag-intro__header:before {
  content: '';
  background: url("img/line.svg") center no-repeat;
  height: 2px;
  width: 125px;
  border: none;
  background-size: cover;
  display: inline-block;
}
.ag-intro__title {
  font-family: PlayfairDisplay, serif;
  line-height: 35px;
  color: #50525f;
  font-size: 27px;
  margin-top: 20px;
}
.ag-intro__main {
  width: calc(50% - 75px);
  padding: 25px 25px 40px 58px;
  border-left: 1px solid rgba(160,160,160,0.25);
  transition: 400ms ease-out;
}
.ag-intro__p {
  font-size: 15px;
  line-height: 25px;
  color: #6d6f71;
  margin: 15px 0;
}
.ag-intro__footer {
  min-width: 75px;
  min-height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}
.ag-intro__button {
  position: absolute;
  border: 75px solid transparent;
  border-left-color: #6ecf2f;
  transform: rotate(45deg);
  margin: 100px;
  background-color: #fff;
  cursor: pointer;
}
.ag-intro__buttontext {
  position: absolute;
  transform: rotate(45deg);
  right: 60px;
  top: -15px;
  font-size: 25px;
  color: rgba(255,255,255,0.5);
}
@media (max-width: 800px) {
  .ag-intro__header {
    padding: 44px 40px 25px 30px;
  }
}
@media (max-width: 768px) {
  .ag-intro {
    flex-direction: column;
  }
  .ag-intro__header {
    width: 100%;
    text-align: center;
    padding: 40px 20px 10px;
  }
  .ag-intro__main {
    width: 100%;
    text-align: center;
    padding: 0 20px;
    border-left: none;
    border-top: 1px solid #f1f2f2;
  }
}
.ag-picBenefit__pic {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: #50525f;
  margin: 0 auto;
}
.ag-picBenefit__title {
  color: #fff;
}
.ag-picBenefit__p {
  color: #bfbfbf;
}
.ag-partnerMini {
  background: rgba(65,165,222,0.1);
  margin: 0 auto;
}
.ag-partnerMini .ag-form {
  padding: 45px 50px;
  min-height: 540px;
}
.ag-partnerMini .ag-form__submitWrap {
  margin: 35px 0;
}
.ag-partnerMini .ag-form__submit {
  margin: 0;
  padding: 0 25px;
}
.ag-otherGood {
  text-align: center;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.ag-otherGood__pic,
.ag-ourGood__img {
  margin: 20px auto;
  height: 230px;
  width: 230px;
  padding: 15px;
  border-radius: 100%;
  background: transparent center content-box no-repeat;
  border: 1px solid rgba(80,82,95,0.1);
  background-size: cover;
}
.ag-otherGood__pic._offline,
.ag-ourGood__img._offline {
  background-image: url("img/goods/goods__offline.svg");
}
.ag-otherGood__pic._trains,
.ag-ourGood__img._trains {
  background-image: url("img/goods/goods__trains.svg");
}
.ag-otherGood__pic._partners,
.ag-ourGood__img._partners {
  background-image: url("img/goods/goods__partners.svg");
}
.ag-otherGood__button {
  margin: 20px auto;
  min-width: 200px;
}
.ag-ourGood {
  display: flex;
}
.ag-ourGood__header {
  flex: 1 1 50%;
}
.ag-ourGood__img {
  width: 320px;
  height: 320px;
}
.ag-ourGood__content {
  flex: 1 1 50%;
  padding: 10px 45px;
}
.ag-ourGood__title {
  margin-bottom: 40px;
}
.ag-ourGood__p {
  letter-spacing: 0.5px;
  word-spacing: -0.3px;
  margin-top: 20px;
  max-width: 55ch;
}
.ag-ourGood__p:first-of-type {
  max-width: 45ch;
}
.ag-ourGood__button {
  color: #41a5de;
  margin: 15px 0;
}
.ag-feedback {
  width: 600px;
  min-height: 300px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  outline: none;
}
.ag-feedback__p {
  font-family: "Bad Script", serif;
  font-size: 20px;
  line-height: 30px;
  color: #6d6f71;
  text-align: center;
}
.ag-feedback__footer {
  text-align: center;
}
.ag-login {
  max-width: 500px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ag-login__box {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  position: relative;
}
.ag-login__box__header__title {
  line-height: 40px;
  color: #2d2e33;
  text-align: center;
  white-space: nowrap;
}
.ag-login__box__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.ag-login__box__form__item {
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgba(160,160,160,0.25);
  margin-bottom: 20px;
  padding-left: 10px;
}
.ag-login__box__form__item ::-webkit-input-placeholder {
  color: rgba(80,82,95,0.5);
}
.ag-login__box__form__item ::-moz-placeholder {
  color: rgba(80,82,95,0.5);
}
.ag-login__box__form__item :-ms-input-placeholder {
  color: rgba(80,82,95,0.5);
}
.ag-login__box__form__item:focus {
  border: 1px solid rgba(160,160,160,0.25);
}
.ag-login__box__form__tip {
  position: absolute;
  right: 20px;
  bottom: 35px;
}
.ag-login__box__form__tip__text {
  font-size: 13px;
  line-height: 20px;
  color: rgba(150,150,150,0.5);
}
.ag-login__box__btn {
  width: 100%;
  margin-bottom: 35px;
}
.ag-login__box__sidebtn {
  position: absolute;
  border: 75px solid transparent;
  border-left-color: #fe6c3b;
  transform: rotate(-45deg);
  background-color: #fff;
  cursor: pointer;
  right: -105px;
  top: -95px;
}
.ag-login__sidebtntext {
  position: absolute;
  right: 64px;
  top: -12px;
  font-size: 18px;
  color: rgba(255,255,255,0.5);
}
.ag-login__link {
  text-align: center;
}
.ag-login__link__password {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 430px) {
  .ag-login {
    max-width: 500px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    right: 20px;
  }
  .ag-login__box {
    padding: 0 20px;
  }
  .ag-login__box__header__title {
    text-wrap: none;
    font-size: 26px;
    margin-top: 30px;
  }
}
.ag-header {
  padding: 0 20px;
  background: linear-gradient(rgba(80,82,95,0.75), rgba(80,82,95,0.75)), url("./img/bg__main.gif") center no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  transition: 400ms ease-out;
}
.ag-header__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}
.ag-header__nav {
  padding: 0 40px;
  display: flex;
}
.ag-header__logo {
  background-position: left;
}
.ag-header__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
.ag-header__title {
  height: 75px;
  text-align: center;
}
.ag-header__subtitle {
  font-size: 42px;
  line-height: 54px;
  color: #fff;
  font-weight: 100;
  text-align: center;
  max-width: 27ch;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .ag-header__nav {
    padding: 0 10px;
    flex: 1;
  }
  .ag-header__logo {
    display: none;
  }
}
@media (max-width: 768px) {
  .ag-header {
    min-height: 300px;
    padding-bottom: 140px;
  }
  .ag-header__subtitle {
    font-size: 32px;
  }
  .ag-header__content {
    margin-top: 0;
  }
}
.ag-contacts {
  position: relative;
}
.ag-contacts__contact {
  color: #fff;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  background: rgba(0,0,0,0.5);
  min-height: 140px;
  display: flex;
  align-items: stretch;
}
a {
  text-decoration: none;
  color: #2aa9e0;
  transition: color 0.3s;
}
a:hover {
  color: #228ac4;
}
.ag-partnerMain .ag-container,
.ag-partnerMini .ag-container {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
}
.ag-partnerMain .ag-form,
.ag-partnerMini .ag-form {
  width: 100%;
  min-height: 575px;
  padding: 45px 100px;
  position: relative;
  text-align: center;
}
.ag-partnerMain .ag-form__header,
.ag-partnerMini .ag-form__header {
  padding: 20px 0;
}
.ag-partnerMain .ag-form__container,
.ag-partnerMini .ag-form__container {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
}
.ag-partnerMain .ag-form__headline,
.ag-partnerMini .ag-form__headline {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 32px;
  color: #505050;
}
.ag-partnerMain .ag-form__description,
.ag-partnerMini .ag-form__description {
  color: #505050;
  max-width: 72ch;
  margin: 0 auto;
  line-height: 25px;
  margin-bottom: 45px;
}
.ag-partnerMain .ag-form__wrapper,
.ag-partnerMini .ag-form__wrapper {
  text-align: center;
}
.ag-partnerMain .ag-form__input,
.ag-partnerMini .ag-form__input {
  width: 100%;
  max-width: 58ch;
  height: 50px;
  line-height: 50px;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 100%;
  outline: none;
}
.ag-partnerMain .ag-form__input::placeholder,
.ag-partnerMini .ag-form__input::placeholder {
  color: #b4b4b4;
  text-align: center;
}
.ag-partnerMain .ag-form__switch,
.ag-partnerMini .ag-form__switch,
.ag-partnerMain .ag-form__text,
.ag-partnerMini .ag-form__text {
  width: 100%;
  max-width: calc(50% - 20px);
  line-height: 50px;
  display: flex;
}
.ag-partnerMain .ag-form__text,
.ag-partnerMini .ag-form__text {
  color: #b4b4b4;
}
.ag-partnerMain .ag-form__switchPosition,
.ag-partnerMini .ag-form__switchPosition {
  width: 50%;
  height: 50px;
  border: 1px solid #e7e7e7;
  margin-bottom: 20px;
}
.ag-partnerMain .ag-form__switchPosition._on,
.ag-partnerMini .ag-form__switchPosition._on {
  background-color: #41a6de;
  border-color: #41a6de;
  color: #fff;
}
.ag-partnerMain .ag-form__switchPosition._left,
.ag-partnerMini .ag-form__switchPosition._left {
  border-radius: 8px 0 0 8px;
}
.ag-partnerMain .ag-form__switchPosition._right,
.ag-partnerMini .ag-form__switchPosition._right {
  border-radius: 0 8px 8px 0;
}
.ag-partnerMain .ag-form__submitWrap,
.ag-partnerMini .ag-form__submitWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ag-partnerMain .ag-form__submit,
.ag-partnerMini .ag-form__submit {
  height: 50px;
  line-height: 50px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  padding: 0 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 100%;
  outline: none;
  color: #fff;
  position: relative;
  z-index: 200;
}
.ag-partnerMain .ag-form__hand,
.ag-partnerMini .ag-form__hand {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ag-partnerMain .ag-form__hand._left,
.ag-partnerMini .ag-form__hand._left {
  left: 0;
}
.ag-partnerMain .ag-form__hand._right,
.ag-partnerMini .ag-form__hand._right {
  right: 0;
}
.ag-partnerMain .ag-form__circle,
.ag-partnerMini .ag-form__circle {
  fill: #e6e6e6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-55%);
}
.ag-partnerMain .ag-form__hands,
.ag-partnerMini .ag-form__hands {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.ag-partnerMain .ag-form__hands path,
.ag-partnerMini .ag-form__hands path {
  opacity: 0;
}
.ag-partnerMain .ag-form__thankYou,
.ag-partnerMini .ag-form__thankYou {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
}
.ag-partnerMain .ag-form__meanwhile,
.ag-partnerMini .ag-form__meanwhile {
  position: absolute;
  bottom: 0;
}
.ag-teams {
  padding: 0 20px;
}
.ag-teams__header {
  max-width: 50ch;
  padding-top: 20px;
  padding-bottom: 20px;
}
.ag-teams__title {
  text-align: center;
}
.ag-teams__text {
  line-height: 25px;
  text-align: center;
}
.ag-teams__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ag-teams__column {
  flex: 0 0 calc(100% / 3 - 20px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 380px;
}
.ag-teams__column__item {
  flex: 0 1 175px;
  margin-bottom: 30px;
}
.ag-teams__img {
  border-radius: 8px;
}
.ag-picBenefits {
  color: #fff;
  text-align: center;
}
.ag-picBenefits__header {
  text-align: center;
}
.ag-picBenefits__title {
  color: #fff;
}
.ag-picBenefits__subtitle {
  color: #bfbfbf;
}
.ag-picBenefits__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}
.ag-picBenefits__content__item {
  flex: 0 0 calc(100% / 3 - 20px);
  margin-bottom: 20px;
  min-width: 280px;
}
@media (max-width: 768px) {
  .ag-picBenefits__content {
    justify-content: center;
  }
  .ag-picBenefits__content__item {
    padding: 0 20px;
  }
}
.ag-advantages {
  padding: 0 20px;
  background: radial-gradient(rgba(65,165,222,0.1), rgba(65,165,222,0));
  background-color: #2d2e33;
}
.ag-advantages__item:first-child {
  transform: translateY(-100px);
  margin-bottom: -100px;
}
.ag-otherGoods {
  background: #f1f2f2;
  padding: 20px;
}
.ag-otherGoods__header {
  text-align: center;
}
.ag-otherGoods__title {
  margin-bottom: 20px;
}
.ag-otherGoods__subtitle {
  max-width: 55ch;
  margin: 0 auto;
}
.ag-otherGoods__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0;
}
.ag-otherGoods__content__item {
  flex: 1;
  max-width: 320px;
  padding: 0 20px;
}
.ag-ourGoods {
  padding: 20px 0;
  background: #f1f2f2;
}
.ag-ourGoods__header {
  text-align: center;
  padding: 20px 0;
}
.ag-ourGoods__title {
  margin-bottom: 35px;
}
.ag-ourGoods__subtitle {
  margin: 0 auto;
  max-width: 55ch;
}
.ag-ourGoods__content__item {
  padding: 20px 0;
  margin-bottom: 70px;
}
.ag-ourGoods__content__item:nth-child(even) .ag-ourGood__header {
  order: 2;
}
.ag-ourGoods__content__item:nth-child(even) .ag-ourGood__content {
  order: 1;
}
.ag-ourGoods__content__item:nth-child(even) .ag-ourGood__img {
  margin-right: 21%;
}
.ag-ourGoods__content__item:nth-child(odd) .ag-ourGood__img {
  margin-left: 13%;
}
.ag-digbenefits {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.ag-digbenefits__item {
  min-width: 160px;
  max-width: calc(100% / 5 - 10px * 4);
}
@media (max-width: 768px) {
  .ag-digbenefits {
    justify-content: center;
  }
  .ag-digbenefits__item {
    max-width: 200px;
    padding: 0 15px;
  }
}
.ag-footer {
  border-bottom: 10px solid #fe6c3b;
}
.ag-footer__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 85px;
  flex-wrap: wrap-reverse;
}
.ag-footer__copyright {
  flex: 0 1 0;
  white-space: nowrap;
  padding: 0 20px;
}
.ag-footer__nav {
  flex: 1;
  padding: 0 20px;
}
.ag-footer__nav *,
.ag-footer__nav *:after {
  color: #41a5de !important;
}
.ag-feedbacks {
  padding: 40px 0;
}
.ag-feedbacks__title {
  text-align: center;
  padding: 0 20px;
}
.ag-feedbacks__slider {
  display: flex;
  flex-wrap: wrap;
}
.ag-feedbacks__slider__content {
  flex: 0 0 50%;
  max-width: 50%;
}
.ag-feedbacks__slider__controls {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
}
.ag-feedbacks__slider__controls__arrow {
  font-family: Arsenal, sans-serif;
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
  color: #50525f;
  line-height: 65px;
  background: rgba(65,165,222,0.25);
  text-align: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.ag-feedbacks__slider__controls__arrow._right {
  margin-left: auto;
}
.ag-feedbacks__slider__dots {
  position: relative;
  flex: 1 1 100%;
}
.ag-feedbacks__slider__dots>* {
  align-items: center;
  bottom: 0;
}
